/* Add CSS Styling */
.pinky {
    background-color: rgb(250, 95, 159);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

#num2{
    color: blue;
    font-size: 36px;
}

.bold {
    font-size: 36px;
}

#num4{
    background-color: rgb(145, 255, 111);
    font-size: 24px;
    font-weight: bold;
}