/* Add CSS Styling */

.first-el{
    background-color: black;
    color: white;
}

.second-el{
    background-color: yellow;
}

button{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

/*