body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 15px;
  font-size: 16pt;
}

.content {
  background: #e3f4ff;
  padding: 15px;
  margin: 10px 0;
  font-size: 16pt;
}

.button-container {
  background: #e3f4ff;
  padding: 15px;
  font-size: 16pt;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
}